flows.json
[
    {
        "id": "d1e22234a1400e11",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84c3bb3cfafc8bf7",
        "type": "mqtt-broker",
        "name": "ESP32CAM",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "badb1e627df3d8d9",
        "type": "ui_base",
        "z": "d1e22234a1400e11",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5b888aec7b27037b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4cadb5148e39b36c",
        "type": "ui_group",
        "name": "ColorLed",
        "tab": "5b888aec7b27037b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "46e60166c280a6f4",
        "type": "ui_group",
        "name": "Fan",
        "tab": "5b888aec7b27037b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f581720127e6ef99",
        "type": "database-config",
        "name": "node-red-iot",
        "authType": "anonymous",
        "claims": {},
        "createUser": true,
        "useClaims": false
    },
    {
        "id": "6ed2ef9333a6c4c9",
        "type": "ui_gauge",
        "z": "d1e22234a1400e11",
        "name": "Visual Temperature",
        "group": "4cadb5148e39b36c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "f9f5b875229464e6",
        "type": "hysteresis",
        "z": "d1e22234a1400e11",
        "name": "min-max 30-38",
        "ThresholdType": "fixed",
        "ThresholdRising": "38",
        "ThresholdFalling": "30",
        "TopicThreshold": "",
        "TopicCurrent": "",
        "ThresholdDeltaRising": "",
        "ThresholdDeltaFalling": "",
        "InitialMessage": false,
        "OutRisingType": "bool",
        "OutRisingValue": "true",
        "OutFallingType": "bool",
        "OutFallingValue": "false",
        "OutTopicType": "top",
        "OutTopicValue": "",
        "DynRaiseError": false,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "68d498083a081536",
                "a2faaeac11cea994"
            ]
        ]
    },
    {
        "id": "62d2125a1b85e84b",
        "type": "mqtt out",
        "z": "d1e22234a1400e11",
        "name": "",
        "topic": "Iot/fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84c3bb3cfafc8bf7",
        "x": 1250,
        "y": 260,
        "wires": []
    },
    {
        "id": "68d498083a081536",
        "type": "ui_switch",
        "z": "d1e22234a1400e11",
        "name": "on/off fan",
        "label": "On/Off Fan",
        "tooltip": "",
        "group": "46e60166c280a6f4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "62d2125a1b85e84b"
            ]
        ]
    },
    {
        "id": "f28bc1e9b340c60e",
        "type": "mqtt in",
        "z": "d1e22234a1400e11",
        "name": "",
        "topic": "Iot/fan",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "84c3bb3cfafc8bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1410,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "17b42825823e9523",
        "type": "ui_toast",
        "z": "d1e22234a1400e11",
        "position": "top right",
        "displayTime": "2",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "a2faaeac11cea994",
        "type": "function",
        "z": "d1e22234a1400e11",
        "name": "notify when temp > 38",
        "func": "let isOnFan = msg.payload;\n\nif (isOnFan == true) {\n    msg.payload = \"Nhiệt độ > 38 độ, quạt đã bật\"\n} else {\n    msg.payload = \"Nhiệt độ < 30 độ, quạt đã tắt\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "17b42825823e9523"
            ]
        ]
    },
    {
        "id": "79614695f44390f4",
        "type": "ui_gauge",
        "z": "d1e22234a1400e11",
        "name": "Visual Temperature",
        "group": "4cadb5148e39b36c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "acfacdcc54b6cc87",
        "type": "firebase-out",
        "z": "d1e22234a1400e11",
        "name": "",
        "database": "f581720127e6ef99",
        "path": "Iot/temperature",
        "pathType": "str",
        "priority": 1,
        "queryType": "set",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "614998129a3f8e74",
        "type": "firebase-out",
        "z": "d1e22234a1400e11",
        "name": "",
        "database": "f581720127e6ef99",
        "path": "Iot/humidity",
        "pathType": "str",
        "priority": 1,
        "queryType": "set",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "8c46e86442b17149",
        "type": "ui_chart",
        "z": "d1e22234a1400e11",
        "name": "",
        "group": "4cadb5148e39b36c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f481a45aaedb14ee",
        "type": "mqtt in",
        "z": "d1e22234a1400e11",
        "name": "",
        "topic": "ESPValues",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "84c3bb3cfafc8bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "16f7be39720f29d3",
                "40e8523e4877326a"
            ]
        ]
    },
    {
        "id": "16f7be39720f29d3",
        "type": "function",
        "z": "d1e22234a1400e11",
        "name": "get temperature",
        "func": "const temperature = msg.payload.temperature.toFixed(2);\nmsg.payload = temperature;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [
            [
                "acfacdcc54b6cc87",
                "8c46e86442b17149",
                "6ed2ef9333a6c4c9",
                "f9f5b875229464e6"
            ]
        ]
    },
    {
        "id": "40e8523e4877326a",
        "type": "function",
        "z": "d1e22234a1400e11",
        "name": "get humidity",
        "func": "const humidity = msg.payload.humidity.toFixed(2);\nmsg.payload = humidity;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "79614695f44390f4",
                "614998129a3f8e74"
            ]
        ]
    },
    {
        "id": "34014a0fe06aeb30",
        "type": "ui_colour_picker",
        "z": "d1e22234a1400e11",
        "name": "",
        "label": "LED",
        "group": "4cadb5148e39b36c",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 750,
        "y": 520,
        "wires": [
            [
                "9e4732093e4e3c3a",
                "6625422e17c1fee6"
            ]
        ]
    },
    {
        "id": "d8d345efb82ca937",
        "type": "mqtt in",
        "z": "d1e22234a1400e11",
        "name": "",
        "topic": "Iot/rgbled",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "84c3bb3cfafc8bf7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1180,
        "y": 520,
        "wires": [
            [
                "87f7b75ce05f3e8a"
            ]
        ]
    },
    {
        "id": "9e4732093e4e3c3a",
        "type": "mqtt out",
        "z": "d1e22234a1400e11",
        "name": "",
        "topic": "Iot/rgbled",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "84c3bb3cfafc8bf7",
        "x": 940,
        "y": 520,
        "wires": []
    },
    {
        "id": "87f7b75ce05f3e8a",
        "type": "debug",
        "z": "d1e22234a1400e11",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 520,
        "wires": []
    },
    {
        "id": "6625422e17c1fee6",
        "type": "debug",
        "z": "d1e22234a1400e11",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 600,
        "wires": []
    }
]